@import "./elementui.scss";

$baseBg: #323e52;
$contentBg: #283142;
$canvasBg: #202835;
$baseColor: #c5cfe3;

.advanced {
	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 50px;
		padding: 0 20px;
		background-color: $baseBg;
		border-bottom: 1px solid #202735;
	}

	.container {
		display: flex;

		.shapes {
			width: 240px;
			height: calc(100vh - 51px);
			overflow-y: auto;
			background-color: $contentBg;

			.shapes-title {
				padding: 10px 20px;
				color: $baseColor;
				background-color: $baseBg;
			}

			.shapes-content {
				display: flex;
				max-height: 500px;
				overflow-y: auto;
				flex-wrap: wrap;
				align-content: flex-start;

				.shapes-item {
					display: flex;
					width: 80px;
					height: 80px;
					color: $baseColor;
					cursor: pointer;
					border: 2px solid $contentBg;
					border-radius: 4px;
					box-sizing: border-box;
					transition: all 0.3s;
					flex-flow: column;
					align-items: center;
					justify-content: center;

					&:hover {
						background-color: $baseBg;
						border: 2px solid #009dff;
					}

					i {
						font-size: 30px;
						pointer-events: none;
					}

					label {
						margin-top: 10px;
						font-size: 14px;
					}
				}
			}
		}

		#canvas {
			width: calc(100vw - 540px);
			height: calc(100vh - 51px);
			background-color: $canvasBg;
		}

		.attrs {
			width: 300px;
			background-color: $contentBg;

			.attrs-content {
				.attrs-title {
					padding: 10px 20px;
					color: $baseColor;
					background-color: $baseBg;
				}

				.attrs-item {
					display: flex;
					padding: 10px 15px;
					align-items: center;

					.label {
						width: 80px;
						font-size: 14px;
						color: $baseColor;
					}

					.input {
						display: flex;
						align-items: center;

						.color {
							margin-left: 15px;
							font-size: 14px;
							color: $baseColor;
						}
					}
				}
			}
		}
	}

	.contextMenu {
		position: fixed;
		z-index: 1000;
		min-width: 100px;
		font-size: 14px;
		color: $baseColor;
		background-color: $baseBg;

		.contextmenu-item {
			line-height: 34px;
			text-align: center;
			cursor: pointer;

			&.default {
				&:hover {
					color: $baseColor;
					background-color: $contentBg;
				}
			}

			&.disabled {
				color: $baseColor;
				cursor: not-allowed;
			}
		}
	}
}

::-webkit-scrollbar {
	display: none;
}
